*{   /*Resetter alt default setting som f.eks. margin og padding*/
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face {
    font-family: passion;
    src: url(../fonts/passion.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../fonts/bebas.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto.ttf);
}

@font-face {
    font-family: cairo;
    src: url(../fonts/cairo.ttf);
}


:root{                              /*Definere css variables for farver for nemmere tilgang*/
    --white: #ffffff;
    --orange: #ff9327;
    --black: #000000;
    --light-grey: #cecfca;
    --purple: #361f45;
}


header .nav-bar{
    background-color: black;
    color: white;
    font-family: bebas;
}

header nav ul{                  /*Styling af navigationsbar*/
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav ul li{               /*Definerer position af navigationsbar listitem*/
    position: relative;
    padding: 0;
}

header nav ul li a{             /*Styling af links i navigationsbar*/
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: var(--white);
    display: block;
    background: var(--black);
}

nav ul li a:hover{       /*Styling af navigationsbar under hover tilstand*/
    background: var(--purple);
    color: var(--white);
}

nav ul li ul{            /*Styling af dropdown menu i navbar*/
    position: absolute;
    left: 0;
    width: 100%;                    /*Definerer at den skal udfylde hele siden*/
    background: var(--orange);
    display: none;
    z-index: 10;                    /*Styrer stablingrækkefølge højere værdi ligger øverst, i dette tilfælde ligger alt under ul øverst for alle andre elementer*/
}

nav ul li ul li{         /*Styling af list item i dropdown menu*/
    width: 100%;
    border-top: 0.5px solid var(--black);
}

nav ul li ul li ul{      /*Styling af nested dropdown menu*/
    left: 12.5rem;
    top: 0;
}

nav ul li:focus-within > ul,
nav ul li:hover > ul{     /*Definerer display af dropdown menu på hover eller fokus*/
    display: block;
    z-index: 10;                     /*Styrer stablingrækkefølge højere værdi ligger øverst, i dette tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header::after {                     /*Fjern floats efter header content*/
    content: "";
    display: table;
    clear: both;
}

nav ul.sub-menus{
    height: auto;
    overflow: hidden;
    width: 170px;
    background: var(--purple);
    position: absolute;
    z-index: 10;
    display: none;
}
nav ul.sub-menus li {
    display: block;
    text-align: left;
    width: 100%;
}
nav ul.sub-menus a {
    color: var(--orange);
    font-size: 1.3rem;
}
nav li:hover ul.sub-menus {
    display: block
}
nav ul.sub-menus a:hover{
    background: var(--purple);
    color: var(--white);
}

body{
    background-color: black;
}


@media screen and (max-width: 360px){
    
    .nav-bar{
        display: none;
    }

    #logo{
        width: 3rem;
        position: fixed;
        right: 3%;
        top: 90%;
        z-index: 20;
    }

    h1{
        position: absolute;
        font-family: passion;
        font-size: 3.5rem;
        color: var(--black);
        left: 50%;
        transform: translate(-50%, -50%);
        top: 20%;
    }

    .background img{
        width: 100%;
        height: 70vh;
        position: absolute;
        top: -12%;
        overflow-x: hidden;
    }

    #introduction{
        position: absolute;
        color: var(--light-grey);
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        width: 20rem;
        line-height: 2rem;
        font-family: roboto;
        text-align: center;
        padding: 2.5rem;
        border-radius: 25px;
    }

    .artist{
        flex: 1 1 100%; /* På mindre skærme fylder hver artist 100% */;
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        border: 4px solid var(--purple);
        border-radius: 25px;
        overflow: hidden;
        background-color: #000000;
        transition: ease 0.3s;
        margin: 0;
    }
       
    .artist-content{
        padding: 2rem;
        color: var(--white);
    }
    
    .artist-content h3{
        font-family: bebas;
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
    
    .artist-content p{
        font-family: cairo;
        color: var(--white);
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .artist-content .date{
        display:inline-block;
        border: 2px solid var(--white);
        padding: 10px;
        border-radius: 8px;
        margin-top: 2.1rem;
        font-size: 1.3rem;
    }

    .artist-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 60px;
        align-items: stretch; /* Sørger for, at alle artist-elementer får samme højde */
        transform: translateY(55rem); /* Flytter containeren nedad */
    }
}

@media screen and (min-width: 361px) and (max-width: 430px){
    .nav-bar{
        display: none;
    }

    #logo{
        width: 2.5rem;
        position: fixed;
        right: 3%;
        top: 90%;
        z-index: 20;
    }

    h1{
        position: absolute;
        font-family: passion;
        font-size: 3.7rem;
        color: var(--black);
        left: 50%;
        transform: translate(-50%, -50%);
        top: 20%;
    }

    .background img{
        width: 100%;
        height: 70vh;
        position: absolute;
        top: -12%;
        overflow-x: hidden;
    }

    #introduction{
        position: absolute;
        color: var(--light-grey);
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        width: 20rem;
        line-height: 2rem;
        font-family: roboto;
        text-align: center;
        padding: 2.5rem;
        border-radius: 25px;
    }

    .artist{
        flex: 1 1 100%; /* På mindre skærme fylder hver artist 100% */;
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        border: 4px solid var(--purple);
        border-radius: 25px;
        overflow: hidden;
        background-color: #000000;
        transition: ease 0.3s;
        margin: 0;
    }
       
    .artist-content{
        padding: 2rem;
        color: var(--white);
    }
    
    .artist-content h3{
        font-family: bebas;
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
    
    .artist-content p{
        font-family: cairo;
        color: var(--white);
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .artist-content .date{
        display:inline-block;
        border: 2px solid var(--white);
        padding: 10px;
        border-radius: 8px;
        margin-top: 2.1rem;
        font-size: 1.3rem;
    }

    .artist-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 60px;
        align-items: stretch; /* Sørger for, at alle artist-elementer får samme højde */
        transform: translateY(58rem); /* Flytter containeren nedad */
    }
}

@media screen and (min-width: 431px) and (max-width: 620px){
    .nav-bar{
        display: none;
    }

    #logo{
        width: 3.2rem;
        position: fixed;
        right: 3%;
        top: 90%;
        z-index: 20;
    }

    h1{
        position: absolute;
        font-family: passion;
        font-size: 4.5rem;
        color: var(--black);
        left: 50%;
        transform: translate(-50%, -50%);
        top: 20%;
    }

    .background img{
        width: 100%;
        height: 70vh;
        position: absolute;
        top: -12%;
        overflow-x: hidden;
    }

    #introduction{
        position: absolute;
        color: var(--light-grey);
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        width: 25rem;
        line-height: 2rem;
        font-family: roboto;
        text-align: center;
        padding: 2.5rem;
        border-radius: 25px;
    }

    .artist{
        flex: 1 1 100%; /* På mindre skærme fylder hver artist 100% */;
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        min-width: 20rem;
        border: 4px solid var(--purple);
        border-radius: 25px;
        overflow: hidden;
        background-color: #000000;
        transition: ease 0.3s;
        margin: 0;
    }
       
    .artist-content{
        padding: 2rem;
        color: var(--white);
    }
    
    .artist-content h3{
        font-family: bebas;
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
    
    .artist-content p{
        font-family: cairo;
        color: var(--white);
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .artist-content .date{
        display:inline-block;
        border: 2px solid var(--white);
        padding: 10px;
        border-radius: 8px;
        margin-top: 2.1rem;
        font-size: 1.3rem;
    }

    .artist-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 60px;
        align-items: stretch; /* Sørger for, at alle artist-elementer får samme højde */
        transform: translateY(50rem); /* Flytter containeren nedad */
    }
}

@media screen and (min-width: 621px) and (max-width: 1024px) {
    /* CSS for almindelige tablets */

    .nav-bar{
        display: none;
    }

    #logo{
        width: 3.6rem;
        position: fixed;
        right: 3%;
        top: 90%;
        z-index: 20;
    }

    h1{
        position: absolute;
        font-family: passion;
        font-size: 7rem;
        color: var(--black);
        left: 50%;
        transform: translate(-50%, -50%);
        top: 20%;
    }

    .background img{
        width: 100%;
        height: 70vh;
        position: absolute;
        top: -12%;
        overflow-x: hidden;
    }

    #introduction{
        position: absolute;
        color: var(--light-grey);
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.3rem;
        width: 40rem;
        line-height: 2rem;
        font-family: roboto;
        text-align: center;
        padding: 2.5rem;
        border-radius: 25px;
    }

    .artist{
        flex: 1 1 calc(50% - 40px);
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        min-width: 24rem;
        border: 4px solid var(--purple);
        border-radius: 25px;
        overflow: hidden;
        background-color: #000000;
        transition: ease 0.3s;
        margin: 0rem;
    }
       
    .artist-content{
        padding: 2rem;
        color: var(--white);
    }
    
    .artist-content h3{
        font-family: bebas;
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
    
    .artist-content p{
        font-family: cairo;
        color: var(--white);
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .artist-content .date{
        display:inline-block;
        border: 2px solid var(--white);
        padding: 10px;
        border-radius: 8px;
        margin-top: 2.1rem;
        font-size: 1.3rem;
    }

    .artist-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 60px;
        align-items: stretch; /* Sørger for, at alle artist-elementer får samme højde */
        transform: translateY(50rem); /* Flytter containeren nedad */
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    #logo{
        width: 3.8rem;
        position: fixed;
        right: 3%;
        top: 90%;
        z-index: 20;
    }

    h1{
        position: absolute;
        font-family: passion;
        font-size: 7rem;
        color: var(--black);
        left: 50%;
        transform: translate(-50%, -50%);
        top: 20%;
    }

    .background img{
        width: 100%;
        height: 70vh;
        position: absolute;
        top: -12%;
        overflow-x: hidden;
    }

    #introduction{
        position: absolute;
        color: var(--light-grey);
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        width: 40rem;
        line-height: 2rem;
        font-family: roboto;
        text-align: center;
        padding: 2.5rem;
        border-radius: 25px;
    }


    .artist{
        flex: 1 1 calc(50% - 40px);
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        border: 4px solid var(--purple);
        border-radius: 25px;
        overflow: hidden;
        background-color: #000000;
        transition: ease 0.3s;
        margin: 0;
    }
       
    .artist-content{
        padding: 2rem;
        color: var(--white);
    }
    
    .artist-content h3{
        font-family: bebas;
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
    
    .artist-content p{
        font-family: cairo;
        color: var(--white);
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .artist-content .date{
        display:inline-block;
        border: 2px solid var(--white);
        padding: 10px;
        border-radius: 8px;
        margin-top: 2.1rem;
        font-size: 1.3rem;
    }

    .artist-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 60px;
        align-items: stretch; /* Sørger for, at alle artist-elementer får samme højde */
        transform: translateY(70rem); /* Flytter containeren nedad */
    }
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
    /* CSS for stationære computere og store laptops */

    #logo{
        width: 6rem;
        position: fixed;
        right: 2%;
        top: 88%;
        z-index: 20;
    }

    h1{
        position: absolute;
        font-family: passion;
        font-size: 12rem;
        color: var(--black);
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .background img{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 5%;
        z-index: -1;
    }

    #introduction{
        position: absolute;
        color: var(--light-grey);
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
        width: 70rem;
        line-height: 3rem;
        font-family: roboto;
        text-align: center;
        padding: 2.5rem;
        border-radius: 25px;
    }


    header nav ul li a{         
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1.5rem;
        color: var(--white);
        display: block;
        background: var(--black);
    }
   
    nav ul.sub-menus a {
        color: var(--orange);
        font-size: 1.3rem;
    }

    .artist{
        flex: 1 1 calc(50% - 40px);
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        border: 4px solid var(--purple);
        border-radius: 25px;
        overflow: hidden;
        background-color: #000000;
        transition: ease 0.3s;
        margin: 0;
    }
       
    .artist-content{
        padding: 2rem;
        color: var(--white);
    }
    
    .artist-content h3{
        font-family: bebas;
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
    
    .artist-content p{
        font-family: cairo;
        color: var(--white);
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .artist-content .date{
        display:inline-block;
        border: 2px solid var(--white);
        padding: 10px;
        border-radius: 8px;
        margin-top: 2.1rem;
        font-size: 1.3rem;
    }

    .artist-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 60px;
        align-items: stretch; /* Sørger for, at alle artist-elementer får samme højde */
        transform: translateY(70rem); /* Flytter containeren nedad */
    }
}

@media screen and (min-width: 1921px) {
    /* CSS for meget store skærme */
    #logo{
        width: 8rem;
        position: fixed;
        right: 2%;
        top: 88%;
        z-index: 20;
    }

    h1{
        position: absolute;
        font-family: passion;
        font-size: 14rem;
        color: var(--black);
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .background img{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 5%;
        z-index: -1;
    }

    #introduction{
        position: absolute;
        color: var(--light-grey);
        top: 115%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
        width: 72rem;
        line-height: 3rem;
        font-family: roboto;
        text-align: center;
        padding: 2.5rem;
        border-radius: 25px;
    }

    header nav ul li a{         
        text-decoration: none;
        font-size: 1.8rem;
        padding: 1.5rem;
        color: var(--white);
        display: block;
        background: var(--black);
    }
  
    nav ul.sub-menus a {
        color: var(--orange);
        font-size: 1.5rem;
    }
    
    .artist{
        flex: 1 1 calc(50% - 40px);
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        border: 4px solid var(--purple);
        border-radius: 25px;
        overflow: hidden;
        background-color: #000000;
        transition: ease 0.3s;
        margin: 0;
    }
       
    .artist-content{
        padding: 2rem;
        color: var(--white);
    }
    
    .artist-content h3{
        font-family: bebas;
        font-size: 2.8rem;
        margin-bottom: 5px;
    }
    
    .artist-content p{
        font-family: cairo;
        color: var(--white);
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;
    }
    
    .artist-content .date{
        display:inline-block;
        border: 2px solid var(--white);
        padding: 10px;
        border-radius: 8px;
        margin-top: 2.1rem;
        font-size: 1.3rem;
    }

    .artist-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
        gap: 60px;
        align-items: stretch; /* Sørger for, at alle artist-elementer får samme højde */
        transform: translateY(70rem); /* Flytter containeren nedad */
    }
}

.artist-content .genre{
    color: #62506e;
    font-weight: bold;
    text-transform: uppercase;
}

.artist:hover{
    transform: scale(1.1);
    background-color: #160022;
}

.artist img{
    width: 100%;
    height: auto;
}

.artist-content .read{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--purple);
    padding: 8px 20px;
    border-radius: 8px;
    font-family: cairo;
    color: var(--white);
    transition: ease 0.2s;
    font-weight: 600;
}

.artist-content .read:hover{
    transform: scale(1.05);
    background-color: #4f3e5b;
    color: #23112f;
    font-weight: bolder;
}

.artist-content .info {
    display: flex;
    justify-content: space-between; /* Eller 'flex-start' eller 'center' baseret på ønsket layout */
    align-items: center;
}

.artist .price{
    color:#4f3e5b;
    font-weight: 700;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
}

#banner-01{
    position: absolute;
    top: 170%;
}

#banner-02{
    position: absolute;
    top: 430%;
}

#banner-03{
    position: absolute;
    top: 720%;
}

#banner-04{
    position: absolute;
    top: 1020%;
}

form{
    font-family: sans-serif;
    color: var(--white);
    background-color:#493b52;
    padding: 3rem;
    padding-top: 8rem;
    border-radius: 25px;
    width: 35rem;
    position: absolute;
    top: 1190%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h3{
    top: 15%;
    position: absolute;
    font-size: 1.7rem;
    font-family: cairo;
    text-transform: uppercase;
    text-align: center;
    width: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form-box{
    border-radius: 15px;
    border: none;
    width: 20rem;
    height: 3.5rem;
    padding-left: 1.6rem;
    font-size: 1.2rem;
    margin-top: 0.75rem;
    margin-bottom: 1.3rem;
    color:#361f45;
}

.label {
    font-size: 1.2rem;
    font-weight: bold;
}

#account{
    align-items: center;
    background-color: var(--purple);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    width: 20rem;

    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#account:hover{
    transform: scale(1.05);
    background-color:#857293;
    color: #23112f;
    cursor: pointer;
}

footer {                            /*Styling for footer*/
    background-color:#1e1723;
    color: var(--white);
    text-align: center;
    padding: 1.25rem;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 1215%;
    font-family: cairo;
}

footer nav ul {                     /*Styling footers navigationsbar*/
    padding: 0;
    margin: 0;
    list-style: none;
}

footer nav ul li {                  /*Styling for list items under footer navigationsbar*/
    display: inline-block; 
    margin-right: 1rem; 
}

footer nav ul li:last-child {       /* Fjerne margin for den sidste list item i footer*/
    margin-right: 0;
}

footer nav ul li a {                /* Style for links i footer navigationsbar */
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}