*{   /*Resetter alt default setting som f.eks. margin og padding*/
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#phone {
    display: block; /* Standard for alle */
}

@font-face {
    font-family: passion;
    src: url(../fonts/passion.ttf);
}

header .nav-bar{
    background-color: black;
    color: white;
}

header nav ul{                  /*Styling af navigationsbar*/
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav ul li{               /*Definerer position af navigationsbar listitem*/
    position: relative;
    padding: 0;
}

header nav ul li a{             /*Styling af links i navigationsbar*/
    text-decoration: none;
    font-size: 1.55rem;
    padding: 1.5rem;
    color: var(--white);
    display: block;
    background: var(--black);
}

nav ul li a:hover{       /*Styling af navigationsbar under hover tilstand*/
    background: var(--dark-grey);
    color: var(--white);
}

nav ul li ul{            /*Styling af dropdown menu i navbar*/
    position: absolute;
    left: 0;
    width: 100%;                    /*Definerer at den skal udfylde hele siden*/
    background: var(--orange);
    display: none;
    z-index: 10;                    /*Styrer stablingrækkefølge højere værdi ligger øverst, i dette tilfælde ligger alt under ul øverst for alle andre elementer*/
}

nav ul li ul li{         /*Styling af list item i dropdown menu*/
    width: 100%;
    border-top: 0.5px solid var(--dark-grey);
}

nav ul li ul li ul{      /*Styling af nested dropdown menu*/
    left: 12.5rem;
    top: 0;
}

nav ul li:focus-within > ul,
nav ul li:hover > ul{     /*Definerer display af dropdown menu på hover eller fokus*/
    display: block;
    z-index: 10;                     /*Styrer stablingrækkefølge højere værdi ligger øverst, i dette tilfælde ligger alt under ul øverst for alle andre elementer*/
}

header::after {                     /*Fjern floats efter header content*/
    content: "";
    display: table;
    clear: both;
}

nav ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 10;
	display: none;
}
nav ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
nav ul.sub-menus a {
	color: var(--orange);
	font-size: 1.25rem;
}
nav li:hover ul.sub-menus {
	display: block
}
nav ul.sub-menus a:hover{
	background: var(--dark-grey);
	color: var(--white);
}


body{
    background-color: black;
}


@media screen and (max-width: 390px){
    
    #desktop{
        display: none;
    }

    .nav-bar{
        display: none;
    }

    .background{
        position: relative;
        width: 100%;
        height: 100vh; /* Sikrer, at baggrundsområdet fylder hele skærmen */
        overflow-x: hidden;
    }
    
    .background img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Sørger for, at billedet dækker hele området uden at forvrænges */
    }
    
    .background h1 {
        font-family: passion;
        font-size: 3.5rem;
        color: black;
        text-align: center;
        position: absolute; /* Gør det muligt at placere teksten oven på billedet */
        top: 15%; /* Placerer teksten vertikalt i midten */
        left: 50%; /* Placerer teksten horisontalt i midten */
        transform: translate(-50%, -50%); /* Justerer for elementets egen bredde og højde */
        z-index: 1;
    }
}


@media screen and (min-width: 391px) and (max-width: 768px){
    #phone{
        display: none;
    }

    .nav-bar{
        display: none;
    }

    .background{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    
    .background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .background h1 {
        font-family: passion;
        font-size: 4.8rem;
        color: black;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    }


@media screen and (min-width: 769px) and (max-width: 1281){
    #phone{
        display: none !important;
    }

    .background{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    
    .background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .background h1 {
        font-family: passion;
        font-size: 6rem;
        color: black;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

}


@media screen and (min-width: 1282px){
    #phone{
        display: none !important;
    }

    .background{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    
    .background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .background h1 {
        font-family: passion;
        font-size: 8rem;
        color: black;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

